{% extends 'admin/adminbase.html' %}

{% block title %}Admin Orders{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">All Orders</h3>
                <hr>
                <span><a class="my-2 btn w-100 btn-dark" href="{% url 'adminpagependingorders' %}">Pending Orders</a></span>
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Order Id</th>
                            <th>Customer</th>
                            <th>Amount</th>
                            <th>Ordered On</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><a href="{% url 'adminpageorderdetails' order.id %}">#ORDER_{{order.id}}</a></td>
                                <td>{{order.ordered_by}}</td>
                                <td>{{order.total}}</td>
                                <td>{{order.created_at}}</td>
                                <td>{{order.order_status}}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}