{% extends 'base.html' %}

{% block title %}All Products{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center">All Products</h3><hr>
        {% for cat in allcategories %}
            <h3 class="text-center">{{cat.title}}</h4>
            <hr>
            <div class="row">
                {% for p in cat.product_set.all %}
                    <div class="col-md-4 card">
                        <div class="m-4">
                            <h3><a  style="text-decoration: none; color: black;" href="{% url 'product-detail' p.slug %}"">{{p.title}}</a></h3>
                            <a href="{% url 'product-detail' p.slug %}"><img style="object-fit: contain; height: 200px;" class="img-fluid" src="{{p.image.url}}" alt="" width="200" height="400"></a>
                            <p>Price: <strike>Rs. {{p.marked_price}}</strike> Rs. {{p.selling_price}} </p>
                            <a href="{% url 'addtocart' p.id %}" class="btn btn-primary">Add To Cart</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}