{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4>Items in cart</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cp in cart.cartproduct_set.all %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'product-detail' cp.product.slug %}"><img width="50px" height="50px" src="{{cp.product.image.url}}" alt=""></a></td>
                            <td><a style="text-decoration: none;" href="{% url 'product-detail' cp.product.slug %}">{{cp.product.title}}</a></td>
                            <td>{{cp.rate}}</td>
                            <td>x{{cp.quantity}}</td>
                            <td>{{cp.subtotal}}</td>
                            <td>
                                <a class="btn btn-success" href="{% url 'managecart' cp.id%}?action=inc"> + </a>
                                <a class="btn btn-warning" href="{% url 'managecart' cp.id%}?action=dec"> - </a>
                                <a class="btn btn-danger" href="{% url 'managecart' cp.id%}?action=rmv"> x </a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="5" style="text-align: center;">Total</th>
                            <th>Rs. {{cart.total}}</th>
                            {% if cart.cartproduct_set.all %}
                            <td><a class="btn btn-danger" href="{% url 'emptycart' %}">Empty Cart</a></td>
                            {% endif %}
                        </tr>
                        {% if cart.cartproduct_set.all %}
                            <tr>
                                <th><a class="btn btn-lg btn-info" href="{% url 'checkout' %}">Checkout</a></th>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}