{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <h3>Password change</h3>

    <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you
        typed it in correctly.</p>

    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="CHANGE MY PASSWORD">
    </form>
</div>

{% endblock %}