{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}

	span a {
		margin-top: 10px;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Home</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
			<img class="profile-pic" src="{{customer.image.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
		
			<span><input class="btn btn-primary" type="submit" name="Update Information"></span>
			</form>

			<span><a class="btn btn-warning btn-lg" href="{% url 'password_change' %}">Change Password</a></span>
		</div>
	</div>
</div>

{% endblock %}